alembic
attrs
click
Flask
Flask-Cors
Flask-Migrate
Flask-Moment
Flask-WTF
Flask-Script
itsdangerous
Jinja2
packaging
pluggy
psycopg2
psycopg2-binary
py
PyJWT
pyparsing
python-dateutil
python-editor
six
SQLAlchemy
wcwidth
Werkzeug
gunicorn
python-dotenv
python-jose
requests
authlib
babel